<div class="container">
    <h2 class="center">Title - {{bookDetails.title}}</h2>
    <p class="center">Subjects <br> {{ bookDetails.subjects }}</p>
    <p class="center">contributions <br> {{ bookDetails.contributions }}</p>
    <p class="center">edition_name <br> {{ bookDetails.edition_name }}</p>
    <p class="center">created <br> {{ bookDetails.created.value }}</p>
    <p class="center">last_modified <br> {{ bookDetails.last_modified.value }}</p>
    <p class="center">publishers <br> {{ bookDetails.publishers }}</p>
    <p class="center">publish_date <br> {{ bookDetails.publish_date }}</p>
</div>